@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


* {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none; 
  }
  body{
      margin: 0 0;
      display: flex;
      justify-content: center;
  }
#slider{
    display: flex;
    height: 750px;
    background-color: #343d46;
    flex-direction: column; 
}

#search{
    width: 60%;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.wrapButton{
    display: inline-block;
}

.wrapInput{
    display: inline-block;
    width: 80%;
    margin-left: -5px;
}

#searchIcon, #inputSearch{
    border: none;
    margin: 0 0;
    padding: 0 0;
    height: 30px;
    background-color: white;
    outline: 0;
}

#searchIcon{
    width: 30px;
    border-radius: 8px 0px 0px 8px;
     
}

#inputSearch{
    width: 100%;
    border-radius: 0px 8px 8px 0px; 
}

.wrapperSlides{
    height: 500px;
    width: 95.1%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}

#slides{
    display: flex;
    position: relative;
    width: 90000%;
    height: 550px;
    left: 0px;
}

.videoSlide{
    display: flex;
    flex-direction: column;
    position: relative;
    height:  450px;
    width: 250px;
    background-color: white;
    margin-top: 50px;
    margin-left: 47px;
    border-radius: 5px;

}

#slides div:first-child{
    margin-left: 0px;
}

figure{
    margin-top: 10px;
    margin-left: 10px;
}

figure img{
    width: 230px;
}

.title{
    position: absolute;
    width:230px;
    background-color: #116c4be1;
    left: 10px;
    top: 40px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}

.title p{
    text-align: center;
}
.title p a{
    color: white;
}
table{
    width: 160px;
    margin: 0 auto;
    border-spacing: 0px 15px;
}


.infVideo{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;   
}

.videoSlide  i{
    display: inline;
    color: #343d46; 
    font-size: 20px;
}

.description{
    width: 230px;
    margin-left: 10px;
    font-style: italic;
    font-family: sans-serif;
}

.description p{
    margin-top: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

.like{
margin-right: 30px
}
.divButtonsSwitch{
    width:  50%;
    margin: 0 auto;
    height: 40px;
    margin-top: 50px;
    position: relative;
}
.wrapperButton{
    
    width:  60%;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
}
.buttons{
    height: 40px;
    position: relative;
    width: 10000%; 
    left: 0px;
}

.buttonPrev, .buttonNext{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 3px solid white;
    background-color: white;
    position: absolute;
    top: 1px;
}

.buttonNext{
left: 490px;
}



.buttonPrev{
    left: 80px;
}

.slideButtons{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 3px solid white;
    background-color: white;
    margin: 0 5px;
    color: white;
    text-align: center;
    font-size: 10px;
    
}


.resizeMargin{
    width: 74.5%; 
}

#slides div.resizeMargin:first-child{
    margin-left: 150px;
}


.hint{
    font-style: normal;
    font-weight: bold;
    color: red;
}

.left{
    left: 0px;
}